aiocache==0.11.1
aiocqhttp==1.2.5
aiofiles==0.6.0
aiohttp==3.7.3
appdirs==1.4.3
APScheduler==3.6.3
arrow==0.17.0
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.1
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
canvas==0.2
certifi==2020.4.5.1
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cloudscraper==1.2.56
colorama==0.4.3
cycler==0.10.0
demjson==2.2.4
distlib==0.3.0
docxtpl==0.11.3
et-xmlfile==1.0.1
expiringdict==1.2.1
feedparser==5.2.1
filelock==3.0.12
filetype==1.0.7
Flask==1.1.2
Flask-Cors==3.0.10
fuzzywuzzy==0.18.0
gevent==20.12.1
greenlet==0.4.17
h11==0.12.0
h2==4.0.0
hpack==4.0.0
httpcore==0.12.2
httpx==0.16.1
Hypercorn==0.11.1
hyperframe==6.0.0
idna==2.9
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jieba==0.42.1
jieba-fast==0.53
Jinja2==2.11.2
jmespath==0.10.0
kiwisolver==1.3.1
langid==1.1.6
lazy-object-proxy==1.4.3
logzero==1.6.3
lxml==4.5.1
MarkupSafe==1.1.1
matplotlib==3.3.3
mccabe==0.6.1
msgpack==1.0.2
multidict==5.1.0
nonebot==1.6.0
numpy==1.18.5
oauthlib==3.1.0
opencc-python-reimplemented==0.1.6
openpyxl==3.0.3
orjson==3.4.6
pandas==1.0.4
peewee==3.14.0
Pillow==8.1.0
pinyin==0.4.0
PixivPy==3.5.10
priority==1.3.0
psutil==5.8.0
pycparser==2.20
pycryptodome==3.10.1
pycryptodomex==3.10.1
pygtrie==2.4.2
pylint==2.5.3
PyMySQL==0.9.3
pyparsing==2.4.7
pypi==2.1
python-dateutil==2.8.1
python-docx==0.8.10
python-Levenshtein==0.12.0
python-Levenshtein-wheels==0.13.2
pytz==2020.1
PyYAML==5.4.1
Quart==0.11.5
requests==2.23.0
requests-cache==0.5.2
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
sgmllib3k==1.0.0
simplejson==3.17.0
six==1.14.0
sniffio==1.2.0
sogou-tr-free==0.0.11
soupsieve==2.0.1
sqlitedict==1.7.0
tinydb==4.3.0
toml==0.10.1
tornado==6.1
tushare==1.2.59
TwitterAPI==2.6.2.1
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.1
urllib3==1.25.9
virtualenv==20.0.4
websocket==0.2.1
websocket-client==0.57.0
Werkzeug==1.0.1
wrapt==1.12.1
wsproto==1.0.0
xlrd==2.0.1
yapf==0.30.0
yarl==1.6.3
zhconv==1.4.1
zope.event==4.5.0
zope.interface==5.2.0
